In [80]:
import numpy as np
import pandas as pd
import datetime as dt
import os

Year of Birth Data Frames

In [81]:
names_df = pd.DataFrame(columns = ["name", "sex", "count" ,"source", "year"])
names_df

Empty DataFrame
Columns: [name, sex, count, source, year]
Index: []

In [82]:
#i=0

for fileName in os.listdir("Resources/names"):
    #print(fileName)
    #i+=1
    #if i >5:
        #break
    if fileName.endswith(".txt"):
        temp_df=pd.read_csv("Resources/names/"+ fileName, sep=",", header=None)
        temp_df.columns = ["name", "sex", "count"]
        temp_df["source"] = fileName
        temp_df["year"] = int(fileName.split("yob")[1].split(".txt")[0])
        names_df = names_df.append(temp_df)
names_df

            name sex count       source  year
0           Mary   F  7065  yob1880.txt  1880
1           Anna   F  2604  yob1880.txt  1880
2           Emma   F  2003  yob1880.txt  1880
3      Elizabeth   F  1939  yob1880.txt  1880
4         Minnie   F  1746  yob1880.txt  1880
...          ...  ..   ...          ...   ...
32028      Zylas   M     5  yob2018.txt  2018
32029      Zyran   M     5  yob2018.txt  2018
32030      Zyrie   M     5  yob2018.txt  2018
32031      Zyron   M     5  yob2018.txt  2018
32032      Zzyzx   M     5  yob2018.txt  2018

[1957046 rows x 5 columns]

In [83]:
names_df.describe()

           name      sex    count       source     year
count   1957046  1957046  1957046      1957046  1957046
unique    98400        2    13720          139      139
top       Ollie        F        5  yob2008.txt     2008
freq        278  1156527   272971        35079    35079

In [84]:
names_df.shape

(1957046, 5)

In [85]:
names_df['count'] = names_df['count'].astype(int)
names_df['year'] = names_df['year'].astype(int)
names_df.dtypes

name      object
sex       object
count      int32
source    object
year       int32
dtype: object

In [86]:
names_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   sex     object
 2   count   int32
 3   source  object
 4   year    int32
dtypes: int32(2), object(3)
memory usage: 74.7+ MB

In [87]:
print(names_df.isnull().values.any())

False

State Names DataFrames

In [88]:
state_names_df = pd.DataFrame(columns = ["state","sex","year","name", "count"])
state_names_df

Empty DataFrame
Columns: [state, sex, year, name, count]
Index: []

In [89]:
for fileName in os.listdir("Resources/namesbystate"):
    #print(fileName)
    if fileName.endswith(".TXT"):
        tempdf=pd.read_csv("Resources/namesbystate/"+ fileName, sep=",", header=None)
        tempdf.columns = ["state","sex","year","name", "count"]
        state_names_df = state_names_df.append(tempdf)
state_names_df

      state sex  year      name count
0        AK   F  1910      Mary    14
1        AK   F  1910     Annie    12
2        AK   F  1910      Anna    10
3        AK   F  1910  Margaret     8
4        AK   F  1910     Helen     7
...     ...  ..   ...       ...   ...
28015    WY   M  2018    Peyton     5
28016    WY   M  2018   Richard     5
28017    WY   M  2018     Titus     5
28018    WY   M  2018   Tristan     5
28019    WY   M  2018    Zander     5

[6028151 rows x 5 columns]

In [90]:
state_names_df.describe()

          state      sex     year     name    count
count   6028151  6028151  6028151  6028151  6028151
unique       51        2      109    31595     4929
top          CA        F     2016   Leslie        5
freq     381214  3359619    95261     7320   772706

In [91]:
state_names_df.shape

(6028151, 5)

In [92]:
state_names_df['count'] = state_names_df['count'].astype(int)
state_names_df['year'] = state_names_df['year'].astype(int)
state_names_df.dtypes

state    object
sex      object
year      int32
name     object
count     int32
dtype: object

In [93]:
state_names_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6028151 entries, 0 to 28019
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   state   object
 1   sex     object
 2   year    int32
 3   name    object
 4   count   int32
dtypes: int32(2), object(3)
memory usage: 230.0+ MB

In [94]:
print(state_names_df.isnull().values.any())

False

Reflect Tables into SQLAlchemy ORM

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, Table

In [3]:
# Create engine using the `hawaii.sqlite` database file
engine = create_engine("sqlite:///Resources/names.sqlite")

#reflect database
Base = automap_base()
#reflect tables
Base.prepare(engine, reflect=True)

# We can view all of the classes that automap found
Base.classes.keys()

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/e3q8)