In [1]:
import numpy as np
import pandas as pd
import datetime as dt

Year of Birth Data Frames

In [4]:
yob1881_data = pd.read_csv('Resources/names/yob1881.txt', sep=",", header=None)
yob1881_data.columns = ["name", "sex", "count"]

yob1881_df = pd.DataFrame(yob1881_data)
yob1881_df.head()

        name sex  count
0       Mary   F   6919
1       Anna   F   2698
2       Emma   F   2034
3  Elizabeth   F   1852
4   Margaret   F   1658

In [13]:
yob1881_df.describe()

             count
count  1935.000000
mean     99.584496
std     438.355601
min       5.000000
25%       7.000000
50%      13.000000
75%      42.000000
max    8769.000000

In [14]:
yob1881_df.shape

(1935, 3)

In [15]:
yob1881_df.dtypes

name     object
sex      object
count     int64
dtype: object

In [17]:
yob1881_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1935 entries, 0 to 1934
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1935 non-null   object
 1   sex     1935 non-null   object
 2   count   1935 non-null   int64
dtypes: int64(1), object(2)
memory usage: 45.5+ KB

In [18]:
print(yob1881_df.isnull().values.any())

False

state names DataFrames

In [8]:
ak_data = pd.read_csv('Resources/namesbystate/AK.txt', sep=",", header=None)
ak_data.columns = ["state","sex","year","name", "count"]

ak_names_df = pd.DataFrame(ak_data)
ak_names_df.head()

  state sex  year      name  count
0    AK   F  1910      Mary     14
1    AK   F  1910     Annie     12
2    AK   F  1910      Anna     10
3    AK   F  1910  Margaret      8
4    AK   F  1910     Helen      7

In [19]:
ak_names_df.describe()

               year         count
count  28528.000000  28528.000000
mean    1982.523626     15.255573
std       23.998845     17.625253
min     1910.000000      5.000000
25%     1965.000000      6.000000
50%     1985.000000      9.000000
75%     2003.000000     16.000000
max     2018.000000    207.000000

In [20]:
ak_names_df.shape

(28528, 5)

In [21]:
ak_names_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28528 entries, 0 to 28527
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   28528 non-null  object
 1   sex     28528 non-null  object
 2   year    28528 non-null  int64
 3   name    28528 non-null  object
 4   count   28528 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [22]:
print(ak_names_df.isnull().values.any())

False

Reflect Tables into SQLAlchemy ORM

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, Table

In [3]:
# Create engine using the `hawaii.sqlite` database file
engine = create_engine("sqlite:///Resources/names.sqlite")

#reflect database
Base = automap_base()
#reflect tables
Base.prepare(engine, reflect=True)

# We can view all of the classes that automap found
Base.classes.keys()

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: http://sqlalche.me/e/e3q8)